[2018-05-31 09:09] vrom911 opened #1 "Frontend stack decision"
We know for sure that we'd like to use some functional language for frontend. What suits best for our needs: PureScript, Elm, other? Pros and cons?

[2018-05-31 09:22] ChShersh opened #2 "Database decision"
We should decide which Database we want to use for `issue-wanted`. We don't need something strong and secure but we also don't want 💩

Possible candidates:

* PostgreSQL
* SQLite
* RocksDB
* `acid-state`
* Raw files

Something else?

What we need to store (approximation of our database scheme):

* List of issues for beginners for every Haskell GitHub repository
* GitHub issue metadata (name, tags?

[2018-05-31 10:01] ChShersh opened #3 "Discuss users UX"
I would like to have an ability for users to see their achievements depending on their open-source contribution. This is the biggest motivation for people to do something. So we should have an ability to login into our application through GitHub (in perfect case).

Also, I'm not sure that we should synchronise contributors past... Let's track everything starting from server start.

So I propose th

[2018-05-31 10:04] ChShersh opened #4 "Admin page discussion"
Maybe we should have `admin` page. Let's discuss what can be there. I can think of the following:

* Force sync of repository
* Force sync of user
* Blacklist user (if spammer)
* Blacklist repository (fake repo)

[2018-06-01 07:59] chshersh opened #5 "Describe all API endpoints we need from GitHub"
Basically we need:

- [x] List of all Haskell repositories
[code]

- [ ] For each repository: list of issues by given label (`help wanted`, `good first issue`)
    + **TODO**: insert Rest API method here
- [ ] For each user: each PR for this user
    + **TODO**: insert Rest API method here
- [ ] For each PR: which issue it closes
    + **TODO**: insert Rest API method here

[2018-06-10 17:27] ChShersh commented on #3
Tags to consider:

`good first issue` `help wanted` `wanted` `up-for-grabs` `beginner-friendly`

[2018-09-02 06:53] willbasky commented on #2
I am not an expert in DB, just watched the lecture about `HaSql` library for work with `PostgreSQL` and know that [Swarm](https://github.com/ff-notes/swarm) implemented by Yuriy Syrovetskiy to syncronize without any data lost.

[2018-09-03 02:01] vrom911 commented on #1
@willbasky thank you for this table! This is going to be very useful. I would like to add a couple of stuff to it. The size of the `Elm` js code is much smaller (especially in the newest release 1.19, which apparently has too much breaking changes and features cuts :( ) than any other (Puserscript, GHCJS etc.). What about the bridge, the Elm's one is very broken, unfortunately. I can't say for Pur

[2018-09-03 04:40] ChShersh commented on #2
I would like to use `SQLite` because it's very simple and lightweight. As I learned today, it's good only when you have a lot of reads and low number of writes. And we will have a lot of writes to our database because we're going to constantly sync with GitHub. So I'm voting for PostgreSQL as the most reliable option. There're several libraries we can consider:

* [`postgresql-simple`](http://hack

[2018-09-03 07:12] willbasky commented on #2
ORM is better, isn`t it?

`postgresql-simple` isn`t type-safe for queries,is it? (as HaSQL i guess)

[2018-09-03 07:16] willbasky commented on #1
I also lean toward PureScript. Will the middle JS size become a problem?

[2018-09-08 15:53] sshine commented on #2
I've also just recently seen a talk on Hasql. It seemed like a good library. The documentation is limited.

I've never used an ORM in Haskell, but squeal seems type-safe and well-explained.

[2018-09-08 16:05] sshine commented on #1
I only have experience with Elm, but I'm not comfortable with their development process.

I've never used PureScript or GHCJS, so I haven't experienced the disadvantages in practice.

For me, the main downside of GHCJS is the code size, and the mainside downside of PureScript is having to express your data model once on the back-end and once on the front-end. Perhaps PureScript is so similar to Ha

[2018-09-08 16:25] sshine opened #6 "Choice of web-framework"
There are several web-frameworks to choose from.

I have not tested web-frameworks for two years, but the ones I came to like back then were:

- `snap` for being quite modular and not too magical.
- `scotty` for being minimalist.
- `servant` for being type-driven.

The drawbacks I can think of are: `snap` may require heavier lock-in / investment in the framework (writing *snaplets* when necessary)

[2018-09-11 06:11] ChShersh commented on #2
I've heard about `Hasql`. It's a relatively popular library. The reason for choosing `squeal` is to learn something new and try new technologies. And if we weren't satisfied, we can always switch to different library 🙂

[2018-09-11 06:14] ChShersh commented on #1
I don't like GHCJS because of:

* Code size
* Low amount of documentation
* Possible need to learn and use nix just to build project

After WebAssembly backend for GHCJS is implemented, it will become much better! But I would like to use frontend-specific tool for this task now. Also, again, learning purposes 🙂

`bower` is not a great tool, but we can live with that for now.

[2018-09-11 06:16] ChShersh commented on #6
We're going to use `servant` to write backend API endpoints. It's quite nice DSL for Web API. And our frontend will be written with the help of tool that we will choose under #1 issue (which is probably going to be PureScript).

[2018-09-12 03:30] ChShersh opened #7 "Change default-prelude to `relude`"

[2018-09-12 04:56] ChShersh opened #8 "Query Haskell repositories"
We're going to use `github` package for GitHub bindings. This function might be useful:

* https://hackage.haskell.org/package/github-0.19/docs/GitHub-Endpoints-Search.html#v:searchRepos

I propose to put this function under `IssueWanted.Search` module.

[2018-09-12 05:33] chshersh opened #9 "Write Servant endpoint that returns Haskell repositories"
After #8 is done

[2018-09-12 05:35] chshersh opened #10 "Integrate PureScript with some bridge to display list of Haskell repos"

[2018-09-12 05:35] ChShersh commented on #1
Decided: PureScript.

[2018-09-12 05:35] #1 closed

[2018-09-12 05:36] ChShersh commented on #2
Decided: PostgreSQL + `squeal`.

[2018-09-12 05:36] #2 closed

[2018-09-12 05:36] ChShersh commented on #6
Decided: `servant`.

[2018-09-12 05:36] #6 closed

[2018-09-13 08:36] #7 closed

[2018-09-14 08:28] willbasky commented on #5
`For each user` on our site or at GitHub? Could it described more?

[2018-09-14 08:38] ChShersh commented on #5
@willbasky In this context `For each X` means _provide function `X -> Smth`_. We need to know how to fetch information about user. And then we can easily fetch this information for multiple users. But what is the set of users we're interested in – is another task.

[2018-09-19 14:03] #8 closed

[2018-09-19 14:14] chshersh opened #13 "Create `IssueWanted.Db.Repo` module with schemas for repository"
We want to store some information in our database regarding all Haskell repositories. We don't need to store everything about repo. Only interesting part. Schema of repo table should be created using `squeal` library.

[2018-09-19 14:14] chshersh opened #14 "Choose shorter name for `IssueWanted` prefix"
All modules currently have `IssueWanted` prefix in the library. Let's choose shorter prefix until it's not to late :slightly_smiling_face:

[2018-09-19 14:16] ChShersh opened #15 "Write insert function for repo table"
Blocked by #13

[2018-09-19 14:17] ChShersh opened #16 "Write async worker that populates repo table"
Blocked by #15

[2018-09-19 14:17] ChShersh opened #17 "Write query function for repo table"

[2018-09-19 14:18] ChShersh commented on #9
This endpoint should return repos from local DB. Blocked by #17

[2018-09-20 06:28] willbasky commented on #14
`IW`
`iw`

[2019-03-13 22:15] Infi-Knight opened #19 "Prototypes or wireframes for frontend"
This issue is in reference for the creation of prototypes or wireframes for the frontend. It would aid in streamlining the backend as per project's requirements. Do these wireframes exist or are in the process of development? If not then would it be desirable if I start implementing them with the guidance of respected contibutors?

[2019-03-14 03:22] ChShersh commented on #19
@Infi-Knight I agree that it would be really good to have some design sketches for frontend before implementing it. But I'm not a designer, so I'm open to suggestions. However, I can try to describe what I expect from the frontend:

1. Search bar that allows to search repositories by author/package name/etc.
2. Several filters near search bar that allow to filter by issue labels, package category,

[2019-03-14 09:54] Infi-Knight commented on #19
Thank you for the pointers. I will try to implement some mocks while I am drafting up the project proposal.

[2019-03-14 15:31] rashadg1030 opened #20 "GitHub API Query Functions"
I've made a fork of the project and have been testing the GitHub API query functions located in issue-wanted/src/IssueWanted/Search.hs. None of the functions return errors which is great, but I'm not sure if they are returning the right results. For example, the function `fetchHaskellReposGFI`, which returns all Haskell repositories with "good-first-issue" labels, gives a result count of 124. The

[2019-03-14 20:35] rashadg1030 commented on #5
@ChShersh We have a working GitHub query function `fetchAllHaskellRepos` that returns a vector of repos. Would it be fine to write a function that takes a repo and returns a list/vector of issues with the `help wanted`/`good first issue` labels? `Repo -> [Issues]` for example.

[2019-03-14 23:17] Infi-Knight opened #21 "Graphql integration and github apis: V3 or V4?"
Which version of Github API are we going to use?
Github provides access both in the form of REST(v3) and GraphQl(v4). Considering the amount of data we need to scrap for issues, cabal files and keeping our database synced with repos would it be beneficial to integrate graphql in backend as well as frontend? A single graphql call will replace multiple REST calls thus reducing latency with database

[2019-03-15 04:10] ChShersh commented on #21
I can see how rate limit can be a problem for synchronisation. There's Haskell library for writing GraphQl queries:

* https://github.com/haskell-graphql/graphql-api

Let's have this issue open and think more about that part of the application.

[2019-03-15 04:12] ChShersh commented on #20
@rashadg1030 I think it's better to create minimal example and open issue for GitHub repo. But the chances is that you see lower number of results due to pagination. Though, number 8 looks too small for that. So it is still a good idea to ask about the behavior under `github` package:

* https://github.com/phadej/github/issues

[2019-03-15 04:14] ChShersh commented on #5
@rashadg1030 I think it's too early to think about this. Also see issue #21, some parts of the architecture might change before project starts.

[2019-03-15 04:16] Infi-Knight commented on #21
"graphql-api" seems in a nascent stage and mentions unstable API, though I am unsure about it's suitability to the project, given my limited exposure to Haskell ecosystem. Maybe we can take an iterative approach and introduce Graphql at a later point of time.

[2019-03-15 04:16] rashadg1030 commented on #20
@ChShersh Okay that makes sense. I'll do some more research. Thank you.

[2019-03-15 04:20] rashadg1030 commented on #5
@ChShersh Alright, thank you. I will look more into issue #21. I think it is a good idea.

[2019-03-19 13:06] StarWonder67 commented on #14
IsWanted
Iwant

[2019-03-21 06:04] #20 closed

[2019-03-24 16:47] dylan-thinnes opened #23 "Preferred issue update channels - webhooks?"
Hi all, I'm looking at trying this for Google Summer of Code. Currently in the `fetch` functions in `IssueWanted.Search`, we can poll Github's API for issues regularly. Is this the permanent plan for keeping the cache up to date?

I ask because I've been prodding around the `github` library, and was wondering as to the value of using webhooks to subscribe to particularly active repos (e.g, `stack`

[2019-03-25 03:08] ChShersh commented on #23
@dylan-thinnes There are no plans to support real-time live updates for the `issue-wanted` project. Main goal is not help implementing issues as fast as possible, but improve discoverability of what can be done. And, honestly, most issues take time for discussing and coming out with the plan. Implementing `issue-wanted` as a GitHub application with the webhook subscription system will be more comp

[2019-03-27 09:41] Infi-Knight commented on #21
We don't need GraphQL integration just to query information from GitHub, because we can simply send POST requests from our server sending along a graphql query. Then we can parse the resulting json and use it as we deem fit. But this means that `phadej/github` will not prove to be much help as it uses v3. GraphQL integration is required only for efficient communication between frontend and server

[2019-04-07 20:45] Infi-Knight commented on #19
I have scaffolded a figma document to prototype the frontend at https://www.figma.com/file/gttFX0LgCaxDLnHwAzdHetJA/issue-wanted?node-id=0%3A1

[2019-05-22 03:49] chshersh opened #25 "Upgrade to GHC-8.6.5"
- [ ] Upgrade cabal file (`base` dependency, use `cabal-version: 2.4`, use common stanzas)
- [ ] Upgrade `stack.yaml` (bump up lts, libraries versions)
- [ ] Update `.travis.yml` file

As a reference, you can see changes in the [`three-layer`](https://github.com/holmusk/three-layer) repository.

[2019-05-22 03:51] chshersh opened #26 "Introduce simple servant application with a dummy endpoint"

[2019-05-22 03:52] chshersh commented on #14
Decided on `IW`.

[2019-05-22 04:00] chshersh opened #27 "Decide on the Haskell database library"
Possible candidates:

* `postgresql-simple`
* `squeal`
* `opaleye`
* `esqueleto`

@rashadg1030 needs to make the decision with which of the library he prefers to work. But we can share our thoughts on the libraries and discuss the options.

[2019-05-22 04:08] chshersh commented on #10
It's not decided yet. The issue in its current form doesn't seem relevant. Closing.

[2019-05-22 04:08] #10 closed

[2019-05-22 04:14] chshersh commented on #13
This issue is very vague and broad. To be clarified better in separate issues. Thanks @willbasky for your effort so far!

[2019-05-22 04:14] #13 closed

[2019-05-22 04:18] rashadg1030 commented on #27
I'm leaning heavily towards `postgresql-simple` because it is the simplest solution and I have used it before. The other libraries are more powerful than `postgresql-simple`, but I don't think it will be worth the complexity.

[2019-05-22 04:20] chshersh commented on #21
@rashadg1030  we need to discuss are we going to use GraphQL or `phadej/github` library for querying GitHub API.

[2019-05-22 04:20] #23 closed

[2019-05-22 04:22] chshersh commented on #27
@rashadg1030 thanks for your thoughts! Good decision, I appreciate it 👍
I will create several follow up issues to be done next week.

[2019-05-22 04:22] #27 closed

[2019-05-22 04:23] chshersh opened #28 "Implement wrapper functions over `postgresql-simple`"
I will describe later what functions to add.

[2019-05-22 04:24] rashadg1030 commented on #5
@chshersh I would like to discuss more the type of endpoints we will be exposing and the data that they represent. Maybe we could start listing endpoints that we think issue-wanted should have?

[2019-05-22 04:28] rashadg1030 commented on #14
This is a good idea. I'll do this first before I start pushing any code. I'll change the prefix from `IssueWanted` to `IW`.

[2019-05-22 04:30] chshersh opened #29 "Bring `three-layer` architecture to issue-wanted"
See the [`three-layer`](https://github.com/holmusk/three-layer) repository for example.

Specifically, we need to bring the following things:

- [x] Our custom monad with the environment (see `Lib/App` directory)
- [x] Error data types with helper functions (see `Lib/App/Error.hs` module)
- [x] `Effects.Log` module with logging
- [x] TOML configuration
- [x] Makefile for running commands smoothly

[2019-05-22 04:33] chshersh opened #30 "Describe SQL schema for storing data"
What needs to be done here:

- [x] Schema should be written in raw SQL files in the `sql/` directory in the project root. This directory should contain two files now: `schema.sql` with the schema and `drop.sql` with removing the schema (useful for testing)
- [x] `IW.Db.Schema` module with helper functions (see `three-layer` for the example)

[2019-05-22 04:36] rashadg1030 commented on #21
@chshersh I'm still not sure what the best option is yet. I would like to discuss with someone more experienced about the tradeoffs between using GraphQL and REST to query an API. When I did some research into the `graphql-api` library it seemed to lack support for querying GraphQL APIs, but maybe I didn't look hard enough. `phadej`'s `github` library, on the other hand, seems pretty straightforwa

[2019-05-22 05:31] chshersh commented on #21
@rashadg1030 After thinking a little bit on this I propose to use `github` library. I don't have any experience with GraphQL and I never heard about anyone using Haskell library for GraphQL. I don't think that the rate limit is important for us. Basically, we only need to do only two API queries:

1. Search for all GitHub Haskell repos.
2. Search for all GitHub Haskell open issues.

[Rate limit fo

[2019-05-22 05:36] Infi-Knight commented on #21
I think there is another alternative. We can use both REST and GraphQL. For basic endpoints we can hit the REST ones and for others hit /api/graphql, depending upon support provided by graphql library

[2019-05-22 05:44] rashadg1030 commented on #21
@chshersh I think `github` library is the better choice. Any queries that aren't covered by `github` library can be implemented using `servant-client` if needed. @Infi-Knight A hybrid approach may be nice, but I think it is too complex to have two separate ways of querying the GitHub API. GraphQL shines when making complex, nested queries, but as @chshersh  mentioned we will only be fetching Haske

[2019-05-22 09:04] chshersh commented on #21
Then it's decided. Let's stick to the `github` library.

[2019-05-22 09:04] #21 closed

[2019-05-25 07:27] #14 closed

[2019-05-25 19:41] rashadg1030 opened #32 "Update the README file"
I propose to add a better description in the README using the abstract of my GSoC proposal. Is this a good idea?

[2019-05-25 20:07] rashadg1030 opened #33 "Setup testing suite"
I would like to work on setting up the testing suite before I start making any serious changes to the code. Should I refer to the `three-layer` example tests? If so, will we need `hedgehog` for testing or is `hspec` enough?

[2019-05-26 03:41] chshersh commented on #32
@rashadg1030 That would be a great idea!

[2019-05-26 03:42] chshersh commented on #33
@rashadg1030 Yes, `hspec` and `hedgehog` will be enough. We don't have any functionality to test now. But after we implement some functions,we need to setup the testing as well.

[2019-05-26 23:56] rashadg1030 commented on #5
##For each repository: list of issues by given label (help wanted, good first issue):

1. https://api.github.com/repos/:repo_owner/:repo_name/issues?labels=help-wanted
2. https://api.github.com/repos/:repo_owner/:repo_name/issues?labels=good-first-issue

##For each user: each PR for this user:

Interesting Stack Overflow comment I found regarding this issue

`First you have to realize that you mus

[2019-05-27 03:11] #25 closed

[2019-05-27 03:12] #32 closed

[2019-05-27 03:45] chshersh commented on #5
@rashadg1030 Great job! Let's not focus on the user-part and PR-related part yet, since we are not going to implement user authentication now. But your work is useful and the comment can be used later as a reference once we get to it. What we want right now:

1. A search query that returns all Haskell repositories.
2. A search query that returns all Haskell open issues.
3. The same as 2 but takes

[2019-05-27 05:09] chshersh commented on #28
Okay, so this issue is about copy-pasting `Lib.Db.Functions` module from `three-layer`:

* https://github.com/Holmusk/three-layer/blob/master/src/Lib/Db/Functions.hs

This particular issue is tightly coupled with #29 but can be done separately to reduce the scope of the reviewable code.

[2019-06-01 05:37] rashadg1030 commented on #5
1. A search query that returns all Haskell repositories.
https://api.github.com/search/repositories?q=language:haskell

2. A search query that returns all Haskell open issues.
https://api.github.com/search/issues?q=language:haskell+is:open

3.  The same as 2 but takes a list of labels and returns all Haskell issues with the specified labels
https://api.github.com/search/issues?q=language:haskell+i

[2019-06-01 06:24] rashadg1030 commented on #29
Should I copy the file structure of `three-layer` as well? I'm thinking of putting the `IW` folder in a `Lib` folder. Right now the `IW` folder is a direct child of the `src` folder.

[2019-06-01 11:51] chshersh commented on #29
@rashadg1030 `Lib` is a placeholder name. In our case `Lib` should be replaced with `IW`.

[2019-06-04 07:38] #5 closed

[2019-06-07 02:15] rashadg1030 commented on #30
I want to work on the schema but I'm not sure what the shape of our data is. Any suggestions? I have some ideas that I will post later.

[2019-06-07 12:00] chshersh commented on #30
@rashadg1030 You can start from seeing what GitHub API provides and think of possible tables and columns that can be relevant. So you can start with something and improve the schema later during the work when we realise that we need something more.

[2019-06-08 20:34] rashadg1030 commented on #29
I had to import `pattern E` and `log` from `Colog` to get this module to compile. In the `three-layer/src/Lib/Effects/Log.hs` example I don't see these imports. What am I missing?

[2019-06-10 04:11] chshersh commented on #29
@rashadg1030 See my comment under commit: https://github.com/kowainik/issue-wanted/commit/f905e31e87105da2c828529726f2a0f8aa5d5d70#commitcomment-33868656

[2019-06-10 14:36] rashadg1030 opened #39 "Add `Dockerfile`"
After adding the `Makefile` I realized that the project uses docker to run the PostgreSQL database. Is the `Dockerfile` going to be the same as the one in the `three-layer` repo?

[2019-06-10 16:16] rashadg1030 commented on #30
@chshersh Okay so I'm thinking we have two tables: `repos` and `issues`. I think issues should be related to repos using a foreign key. Each issue will have a repo id as a foreign key. Or should we just keep the two tables separate and ignore the relationship. Which is better?

[2019-06-11 07:18] chshersh commented on #39
@rashadg1030 Most likely. But we can always create our own docker image and corresponding `Dockerfile`. Don't worry about that for now, we will get to this part once we configure infrastructure and all that stuff.

[2019-06-11 07:31] chshersh commented on #30
@rashadg1030 I think your proposal is good :+1: The only difficult question here is to how store labels for issues and categories for repos so they can be filtered efficiently. Note, that issues may change their labels, some labels can be renamed and we want to keep up-to-date information in our DB. So there should be some way to update this information.

[2019-06-11 19:45] rashadg1030 commented on #30
@chshersh The best solution I can think of for storing labels with issues is storing the `label_url` for each issue in the DB. I just need to add a `label_url` field to the issues table. The server can use the `label_url` to get all labels for an issue. Or that can be done by the frontend. The frontend could ask the server for a `label_url`, make a request for labels using the url, and then displa

[2019-06-11 19:55] rashadg1030 commented on #30
@chshersh For repository categories I'm not sure. By repository "category" do you mean GitHub [topics](https://help.github.com/en/articles/classifying-your-repository-with-topics)? Do you mean the hackage category the package belongs to? Or will we have our own categories for repositories somehow?

[2019-06-11 20:05] rashadg1030 commented on #30
@chshersh I just read this article on handling many-to-many relationships in a DB. We could uses a `join table` to associate `issues` with `labels`. [Link](https://dzone.com/articles/how-to-handle-a-many-to-many-relationship-in-datab)

[2019-06-13 14:26] #29 closed

[2019-06-14 02:07] rashadg1030 opened #42 "Implement SQL join statements"
I was thinking because we have join tables we should implement some join statements in the `sql/join.sql` file. Is this a good idea? I'm currently doing some research on SQL joins.

[2019-06-14 02:17] rashadg1030 commented on #3
@chshersh I think the idea of an achievement board is cool. It's a good motivator. Along with all the tags @chshersh mentioned I think we should also include issues with `docs` or any other doc related tags to the list. It's not really programming, but fixing docs is a good way for programmers to get introduced to a codebase. I think the sync strategy that @chshersh proposed is good. By "server st

[2019-06-14 02:33] rashadg1030 opened #43 "Retrieve category from repository Cabal file"
We can use the GitHub API to retrieve the contents of a repo's Cabal file. For example pandoc: https://api.github.com/repos/jgm/pandoc/contents/pandoc.cabal

We can then use
https://www.haskell.org/cabal/release/cabal-latest/doc/API/Cabal/Distribution-PackageDescription-Parsec.html
to parse the file once we retrieve it.

Anything I'm missing anything or suggestions??

[2019-06-14 09:55] chshersh commented on #43
Instead of using GitHub API we can use `curl` to download raw content of the file. If we use GItHub API too often, we can hit the request limit.

Regarding parsing: yep, we will use `Cabal` library to parse `.cabal` files. For now we will fetch only categories, but later we can extract more metadata from the file.

There are two potential problems for this approach:
1. Some Haskell packages use `h

[2019-06-14 09:58] chshersh commented on #42
@rashadg1030 I think we don't need to implement join statements in the separate SQL file. This is just an SQL query and we are going to use `postresql-simple` to write such queries. In simple words, instead of querying from a single table like this:

[code]

We will just join `issues` table with `labels` table like this:

[code]

[2019-06-14 10:00] chshersh commented on #3
Yes, I meant that some hardcoded timestamp of the project start. However, I think it shouldn't be that difficult to fetch all user information (I hope).

[2019-06-14 16:31] rashadg1030 commented on #42
@chshersh Got it!

[2019-06-15 05:32] #30 closed

[2019-06-15 05:34] chshersh commented on #42
@rashadg1030 I think in that case this is not really an issue.

[2019-06-15 05:34] #42 closed

[2019-06-16 04:23] rashadg1030 commented on #43
https://hackage.haskell.org/package/download
The above looks like a nice library for downloading a .cabal file. Not sure how it compares with `curl` though. The build isn't passing so maybe not so good.

https://api.github.com/repos/jgm/pandoc/contents/pandoc.cabal
And I had a question about constructing queries:
We need the repo owner name in the query url, so should we store repo owner in our DB

[2019-06-16 04:34] rashadg1030 opened #45 "Add async worker for populating DB"
I was wondering if it is a good time to work on the async worker that will populate our DB? Once we get a better idea of the data we need I guess. I've implemented an endpoint for our server that touches the DB and everything, so I think this would be a good next step. And one thing about file structure. We have a file that holds the GitHub query functions on the path `src/IW/Server/Search.hs`. Is

[2019-06-17 04:02] rashadg1030 opened #46 "Issue-wanted endpoint URLs"
What should the URLs for `issue-wanted` look like? So far, we have one endpoint:
`~/issues/:issueId`

Some other ones I think we need:

[code]

Any more suggestions?

[2019-06-17 05:24] #28 closed

[2019-06-17 05:28] chshersh commented on #43
Yes, we can do that, shouldn't be any problems. If the search query returns us the owner as well.

Regarding the `download` library: I never heard about it. Reverse dependencies show that this library is not used much, so probably not so popular and maybe not a good idea to use it:

* https://packdeps.haskellers.com/reverse/download

[2019-06-17 05:36] chshersh commented on #45
@rashadg1030 Let's have `IW/Sync` directory and corresponding `IW.Sync.*` modules for the forwker. `Async` and `Worker` seem to generic. `Sync` is for _synchronisation_ which is that it should do.

Regarding implementing the worker, I have some suggestions:

Implement a separate function that fetches data for a single repo or for a single issue. In this case we will be able to test such functions

[2019-06-17 05:39] chshersh commented on #46
For now we are interested only in the following endpoints:

1. Get all issues (sorted by some default parameters)
2. Get all issues that have a label or category from the given list (filtering).

All queries should also take limit with default value (like 100) (we don't want to give 150K issues each time). Pagination will be implemented later.

[2019-06-18 02:28] rashadg1030 commented on #46
@chshersh Sort parameter examples:
`~/issues?sort=title:asc` Sort by issue title ascending order
`~/issues?sort=id:desc`  Sort by issue id descending order
`~/issued?sort=id:asc&label=good first issue` Sort by ascending issue id and has label good first issue

Is there any more that will be helpful?

[2019-06-18 22:18] rashadg1030 commented on #46
My next goal is to add a limit query parameter maybe? How will we do pagination?

[2019-06-21 15:02] rashadg1030 opened #48 "Introduce Id type with phantom type parameter"

[2019-06-21 16:59] #26 closed

[2019-06-22 12:00] #46 closed

[2019-06-25 05:24] #48 closed

[2019-06-26 03:23] chshersh opened #50 "Setup Circle CI"

[2019-06-26 05:30] chshersh opened #51 "Write instructions on how to build and test"

[2019-06-26 05:51] #39 closed

[2019-06-26 05:51] #50 closed

[2019-06-26 07:07] chshersh opened #54 "Update the schema for more efficiency and simplicity"
I did some research on how to structure the database for our use case better. We need to do some adjustments to make it work fast. At the same time, it will make our lives easier.

1. Foreign key in the `issues` table should be not for id but for `repo.name`. It's completely okay to have textual foreign keys. Just add an INDEX for `repos.name` column (later we can see what columns we are using so

[2019-06-26 16:38] rashadg1030 commented on #54
Got it. I will work on this and ask if I have any questions. I've never heard of PostgreSQL arrays before but it seems useful.

[2019-06-26 17:05] rashadg1030 commented on #54
Also one question. For the `Issue` instead of `repoId :: Id Repo` should we have a type `repoName :: Name Repo` or something like that?

[2019-06-26 17:12] rashadg1030 commented on #54
Another question. I can't make `repo.name` a foreign key unless I add a `UNIQUE` constraint to it. GitHub repository names aren't unique right?

[2019-06-27 02:01] chshersh commented on #54
We will have `Id` in almost every data type. But I don't think we will have many names. Once we have `Repo` data type with fields, we can introduce our own `Name` newtype similar to `Id`. But for now `Text` should work.

Okay, in that case, let's add `owner` column to the `issues` table and have a foreign key for pair. See how it's done here:

https://stackoverflow.com/questions/25564036/is-it-pos

[2019-06-27 02:02] rashadg1030 commented on #54
Got it👍🏽

[2019-06-27 06:33] rashadg1030 opened #57 "Update Issue type"

[2019-06-27 06:33] rashadg1030 opened #58 "Implement Repo type"

[2019-06-27 06:34] rashadg1030 opened #59 "Update SQL query functions"

[2019-06-27 06:35] rashadg1030 opened #60 "Add function for inserting a list of Issue"

[2019-06-27 06:35] rashadg1030 opened #61 "Add functions for inserting issues into DB"

[2019-06-27 06:36] rashadg1030 opened #62 "Implement database related functions for Repo type"

[2019-06-27 06:37] rashadg1030 opened #63 "Add DB functions that operate within IO monad instead of entire App monad for testing"

[2019-06-27 06:39] rashadg1030 commented on #63
Is this a good idea? I think I mentioned this in the `async-worker` pull request, but I found this helpful for testing the DB functions without running the whole app.

[2019-06-27 06:43] #54 closed

[2019-06-27 06:47] chshersh commented on #63
@rashadg1030 It's a good idea. Usually we implement this in the following way:

1. Have a function to creating testing environment in GHCi:
[code]
2. Now from GHCi you can use this function to call other functions that work with `App` monad:

[code]

[2019-06-27 06:52] rashadg1030 commented on #63
Okay great, I will do this then.

[2019-06-27 07:03] rashadg1030 commented on #57
Is there a `ToRow`/`FromRow` instance for type `[a]`, or do I have to roll my own. The `Issue` type has a `labels :: [Text]` field. How do we get this to an SQL array?

[2019-06-27 07:10] rashadg1030 commented on #57
https://www.stackage.org/haddock/nightly-2019-06-27/postgresql-simple-0.6.2/Database-PostgreSQL-Simple-Types.html
I think I found something `newtype PGArray a`

[2019-06-27 07:19] chshersh commented on #57
@rashadg1030 Yes, for arrays you need to use `PGArray` newtype

[2019-06-27 07:58] rashadg1030 commented on #57
@chshersh  Okay so `Issue` now has a `PGArray Text` field. I have a `ToJSON` instance for `Issue`. I'm trying to roll the `FromJSON` instance, but I was thinking if we even need an instance because we're using the `github` api. Maybe we still need it for something else though

[2019-06-27 08:09] rashadg1030 commented on #57
[code]
I get an orphan instance warning. It's telling me to either:
[code]

[2019-06-27 08:15] chshersh commented on #57
@rashadg1030 We don't need `FromJSON` instance. Regarding the problem with `ToJSON` instance: you can store a plain list of values inside the `Issue` data type and wrap it in `PGArray` only in the `ToRow/FromRow` instances. This means that you cannot derive those instances automatically, you need to write them manually. But what can be done... You either need to write manual JSON or Row instances.

[2019-06-28 04:31] #51 closed

[2019-06-28 05:32] #57 closed

[2019-06-28 06:17] #63 closed

[2019-06-28 16:48] rashadg1030 commented on #60
Merging this issue with issue #61

[2019-06-28 16:48] #60 closed

[2019-06-28 18:29] rashadg1030 opened #70 "Change name of owner column in issues table"
[code]

I was wondering if we should change the name of the `owner` column to `repo_owner`?

[2019-06-29 05:04] chshersh commented on #70
@rashadg1030 Yeah, for consistency it's better to rename to `repo_owner`. You can even prefix all foreign keys with the full table name to make code clearer.

[2019-06-29 07:24] #59 closed

[2019-06-29 07:27] chshersh commented on #33
@rashadg1030 I propose to prioritize this issue. Since we now have testing configured both locally and on CI via Docker contains, we actually can start writing tests. You can see how it's done in `three-layer`. You need to copy-paste some util modules from the `test/` directory but after that, you can start writing unit tests for functions you implement.

The only problem I see now is that you wil

[2019-06-29 08:12] #70 closed

[2019-06-29 08:52] #58 closed

[2019-06-29 08:57] chshersh opened #73 "Add created_at and updated_at columns to repos and issues tables"
These columns should exist only inside the database. They should set to `NOW()` during creation. And `updated_at` should be updated automatically when we update the row. These columns will be useful later when we want to perform cleanup of our database.

[2019-06-30 07:19] rashadg1030 opened #74 "Setup round-trip property testing for DB functions"
Refers to #33

[2019-06-30 07:20] rashadg1030 commented on #74
https://teh.id.au/posts/2017/06/07/round-trip-property/

[2019-06-30 09:13] rashadg1030 opened #76 "Change fields in Issue record to correct newtype"
The `issueRepoOwner` and `issueRepoName` fields in the `Issue` type need to be changed to their corresponding newtypes.

[2019-06-30 09:47] #76 closed

[2019-06-30 17:55] rashadg1030 opened #78 "Remove URL field from Issue schema"
I noticed something important:
[code]
For `repos` table we don't have an `url` field because we agreed we could construct the URL on the frontend with the `owner` and `name`.

The `issues` table does have an `url` field but we could remove it like `repos`.

[code]

[code]
Notice the `Repo` type doesn't have `url` either. Which one is better? Construct the URL on the frontend, backend, or store it

[2019-07-01 01:49] chshersh commented on #78
@rashadg1030 I think it's better to not store `url` in the database and as a field of a data type. If the value of this field can be derived from existing types, usually it's better to save some storage space and just have functions like:

[code]

These are simple pure functions and their result can be calculated extremely fast. You need to cache results of functions inside DB only if the computat

[2019-07-01 17:18] rashadg1030 commented on #73
https://www.revsys.com/tidbits/automatically-updating-a-timestamp-column-in-postgresql/

Using the information in this link as a guide.

[2019-07-02 01:33] #78 closed

[2019-07-02 03:29] #73 closed

[2019-07-02 11:34] sshine opened #81 "Document Postgres setup"
Doing `stack build` I get the following error:

[code]

I spent a little time figuring out that on Ubuntu I need to `apt install libpq-dev` to compile this.

For running Postgres, I need to

[code]

I [modified `pg_hba.conf`](https://dba.stackexchange.com/questions/101280/how-to-handle-user-with-no-password-in-postgresql) with the lines

[code]

(This is a little unsafe, I realize, but for some re

[2019-07-02 13:11] rashadg1030 commented on #81
Thank you for finding! All of this is important. I will work on adding it to the README.

[2019-07-03 02:43] #81 closed

[2019-07-03 02:48] rashadg1030 opened #83 "Add folder that holds all async worker related modules"
Start setting up the file structure for the async worker code once we've figured out the database.

[2019-07-03 02:50] rashadg1030 opened #84 "Add functions that convert github libary types to our own"
We will need to add functions that convert the `github` library types like `Issue` and `Repo` to our own types.

[2019-07-03 15:36] #74 closed

[2019-07-03 15:36] #33 closed

[2019-07-04 02:47] rashadg1030 opened #85 "Implement unit tests for DB functions"
We need unit tests to make sure our SQL query statements work correctly.

[2019-07-04 03:08] #61 closed

[2019-07-04 03:54] rashadg1030 opened #86 "Add roundtrip property test for Repo type"
We need a roundtrip property test to ensure the `ToRow` and `FromRow` instances of `Repo` are correct.

[2019-07-04 05:50] #86 closed

[2019-07-04 22:02] rashadg1030 opened #89 "Implement WithId type"
How will this work?

[2019-07-05 01:55] chshersh commented on #89
The data type looks like this:

[code]

It will have `FromRow/ToRow` instances using [`:.`](http://hackage.haskell.org/package/postgresql-simple-0.6.2/docs/Database-PostgreSQL-Simple.html#t::.) data type.

After that, you can derive `ToRow` and `FromRow` for both `Repo` and `Issue` automatically. But lets keep our property-tests using `WithId` instead of raw `:.`. So we will be sure that everythin

[2019-07-06 17:20] #85 closed

[2019-07-07 05:53] #89 closed

[2019-07-07 07:01] rashadg1030 opened #92 "Improve functionality of filtering DB functions"
On the frontend, it should be possible to specify multiple categories and query all repos that have one of the specified categories. Same for labels. This will become relevant once we implement API endpoints and integration with the frontend.

[2019-07-07 07:03] rashadg1030 opened #93 "Add newtype wrappers for categories/labels"
Introduce `Category` and `Label` newtypes for increased type safety.

[2019-07-07 07:06] #62 closed

[2019-07-07 08:04] #93 closed

[2019-07-07 08:59] rashadg1030 opened #96 "Implement types for github library errors"
The `github` library has an `Error` type that may be returned instead of a `SearchResult`.
https://hackage.haskell.org/package/github-0.22/docs/GitHub-Data-Definitions.html#t:Error
Should we have a way of handling these errors in the App monad?

[2019-07-07 09:02] rashadg1030 commented on #96
If so how do we do this? I think we would need a new `AppErrorType`.

[2019-07-07 09:38] chshersh commented on #96
@rashadg1030 We can add new constructor to `AppErrorType`, this is not a problem :+1:

[2019-07-07 09:48] rashadg1030 commented on #96
Ok yeah a new constructor :+1:

[2019-07-07 09:59] rashadg1030 commented on #43
[This](http://hackage.haskell.org/package/curl-1.3.2) is the library we can use to download `cabal` files.

[2019-07-07 10:00] rashadg1030 commented on #43
Does the name of the `cabal` file always match the name of the project? I guess we can start with this assumption.

[2019-07-07 10:09] chshersh commented on #43
@rashadg1030 `curl` library doesn't look good as well. It returns `String` as a result is built around `String` type in general. Doesn't look efficient.

I think this is a false assumption. Consider the following repository:
* https://github.com/hedgehogqa/haskell-hedgehog

No to mention that not every Haskell repo can contain `.cabal` file...

[2019-07-07 10:12] rashadg1030 commented on #43
@chshersh oof. I saw Galois people were the maintainers, so I just assumed it was good. My mistake

[2019-07-07 20:41] rashadg1030 commented on #96
@chshersh Should I had a new constructor like:
[code]
The `github` `Error` docs can be found here:
https://hackage.haskell.org/package/github-0.22/docs/GitHub-Data-Definitions.html#t:Error

[2019-07-07 22:23] rashadg1030 opened #97 "Add LIMIT to DB query functions"
We need to add `LIMIT 100` to `getRepos` and `getIssues` DB query functions.

[2019-07-07 22:25] rashadg1030 opened #98 "Implement garbage collecting of old issues"
This will require to fetch all closed issues and delete all closed issues from our database.

[2019-07-08 00:43] chshersh commented on #96
@rashadg1030 Yeah, this looks good :+1:

[2019-07-08 02:36] chshersh commented on #45
@rashadg1030 I'm going to describe a high-level overview of the sync algorithm.

Main function should look like this:

[code]

So we are trying to sync cache in the infinite loop, handling all errors.

`syncWithGitHub` function looks like this:

[code]

The idea is the following:

1. First, we fetch all the repositories.
2. Second, we populate categories for repositories in a separate thread.
3. W

[2019-07-08 02:42] rashadg1030 commented on #45
@chshersh This is perfect. Thank you!

[2019-07-08 22:19] rashadg1030 opened #99 "Add logging and error handling to `fromGitHubIssue` and `parseIssueUserData` functions"
For now, the `fromGitHubIssue` and related `parseIssueUserData` function returns `Maybe` values. We get `Nothing` when an error occurs, but it's a good idea to add error handling and logging for parse errors in the future.

[2019-07-08 22:44] rashadg1030 commented on #43
So the idea is to use the raw URL like so:
`https://raw.githubusercontent.com/kowainik/hit-on/master/hit-on.cabal`
Correct?
I'd like to tackle this issue, but can't find a `curl` library that uses `Text`. Are there alternatives to `curl`?

[2019-07-08 22:45] rashadg1030 commented on #43
Maybe there's a way to run a script. So use `curl` through `shellmet` perhaps? I don't know if this would work.

[2019-07-08 22:53] rashadg1030 commented on #43
http://hackage.haskell.org/package/download-curl
This library has `ByteString`.

[2019-07-08 22:59] rashadg1030 commented on #43
http://hackage.haskell.org/package/http-conduit-2.1.2.3/docs/Network-HTTP-Conduit.html
What about this? I would like some experience with `conduit` :slightly_smiling_face: .

[2019-07-09 02:02] chshersh commented on #43
@rashadg1030 You can always ask on Reddit about the best library for downloading the file by `https` URL 🙂 Unfortunately, I'm not aware of the best library for our needs... So let's hear what the community thinks.

Regarding `download-curl`: the library was last updated in 2012, so it's probably not maintained, I wouldn't recommend to use it.

I looked again at the `download` library you suggested

[2019-07-09 06:38] #97 closed

[2019-07-10 00:20] rashadg1030 opened #102 "Add handling of cabal file parser errors"
Currently using:
[code]

Eventually we should use:
[code]
And take advantadge of errors.

Related to #110

[2019-07-10 01:51] rashadg1030 opened #103 "Write test for function that generates cabal file URL from Repo"
Write test for this function once #95 is merged:
`repoCabalFileUrl :: Repo -> Url`

[2019-07-10 02:40] rashadg1030 opened #104 "Add functionality for associating Repo categories with the Repo"
We currently fetch the repo data from GitHub and parse the repo categories from the cabal file separately. We must now combine them to produce a whole repo that can be stored in the DB.

Blocked by #119

[2019-07-10 02:40] chshersh commented on #43
@rashadg1030 Thanks for creating [a discussion on reddit](https://www.reddit.com/r/haskell/comments/cavfnh/recommended_library_for_downloading_files_via/) (though, there wasn't a lot of comments). I looked at all options and here is what I'm proposing to use to download `.cabal` file contents.

1. [`httpLbs`](https://hackage.haskell.org/package/http-client-0.6.4/docs/Network-HTTP-Client.html#v:htt

[2019-07-10 02:47] chshersh opened #105 "Implement `MonadDownload` effect"
This effect should take `RepoOwner` and `RepoName`, construct a URL for corresponding `.cabal` file, try to download the file and throw the error in case of unsuccess.

This involves multiple steps:

1. Create `IW.Effects.Download` module
2. Introduce the following typeclass there:
[code]
3. Add `Manager` field to `Env` data type
4. Implement `Has` instance for `Env` and `Manager`
5. Implement `Mo

[2019-07-10 02:50] rashadg1030 commented on #105
@chshersh Awesome👍🏽 I’m looking forward to implementing a custom effect.

[2019-07-10 02:56] chshersh opened #106 "Implement `MonadCabal` effect for extracting relevant fields of the `.cabal` file"
Blocked by #105

Once `MonadDownload` is implemented, it should be possible to implement:

[code]

An instance of this effect for `App` should do the following:

1. Construct URL to `.cabal` file by `RepoOwner` and `RepoName`
2. Download the file.
3. Try to parse it and return a list of categories from this file.

[2019-07-10 03:10] rashadg1030 commented on #106
@chshersh Okay so I see number 2 is Download the file. Does this mean `MonadDownload m` should be a superclass of `MonadCabal m`?
[code]

[2019-07-10 03:21] chshersh commented on #106
@rashadg1030

Not necessary.  Down the road, if we want to introduce mocking for testing, we can have a pure implementation of `MonadCabal` that just returns hardcoded `.cabal` file in pure context without downloading anything.

[2019-07-10 03:35] rashadg1030 commented on #106
@chshersh Okay yeah that's a good point. It's actually better for prototyping if it isn't constrained to `MonadDownload` because we can use it with other monads if needed.

[2019-07-10 03:40] rashadg1030 commented on #105
@chshersh I think we should have an `URL` type, so I'll implement that first. Is that fine? I'll open an issue for it.

[2019-07-10 03:42] chshersh commented on #105
@rashadg1030 Yeah, that's fine. Also, let's name it `Url` according to the naming scheme in our style guide.

[2019-07-10 03:45] rashadg1030 opened #107 "Add `Url` newtype for wrapping URL text"
`newtype Url = Url { unUrl :: Text }`

[2019-07-10 06:39] rashadg1030 opened #110 "Remove Internal/External error wrappers used in `AppErrorType`"
I think we will need a new constructor for `AppErrorType` for errors that might be thrown by the `MonadDownload` effect.
[code]
And also helper function for converting the `Status` type in https://hackage.haskell.org/package/http-types-0.12.3/docs/Network-HTTP-Types-Status.html#t:Status to `AppErrorType`. I think we will need this, but `200` status is not an error so...We also need logging but thi

[2019-07-10 10:52] chshersh opened #111 "Scaffold initial frontend"
Decide on frontend and scaffold initial structure.

[2019-07-10 10:53] chshersh opened #112 "Wire up initial loading of issues on frontend"

[2019-07-10 10:54] chshersh opened #113 "Implement and wire up issue filtering"

[2019-07-10 10:56] chshersh opened #114 "Implement proper pagination"
In our case pagination should be implemented on the backend because we have a lot of issues. Every query that returns issues, should end with the following:

[code]

Where:

1. `ISSUES_PER_PAGE` is hardcoded constant (like 100)
2. `PAGE_NUMBER`: this is what frontend gives to backend

[2019-07-10 10:57] chshersh opened #115 "Wire up pagination on frontend"

[2019-07-10 10:57] chshersh opened #116 "Buy cool domain name"
Like `issue-wanted.com`. Any other ideas?

[2019-07-10 10:59] chshersh opened #117 "Figure out how to deploy this project"
We need to figure out:

1. Where we are going to deploy (AWS, Heroku, my mother's laptop)
2. How are we going to deploy PostgreSQL DB?
3. How are we going to serve frontend?

[2019-07-10 16:28] #83 closed

[2019-07-10 16:28] #84 closed

[2019-07-10 16:28] #96 closed

[2019-07-11 04:46] chshersh commented on #110
@rashadg1030 I'm starting to worry about inconsistency of our error data types. I would like to have some rules whether we should add constructors to top-level `AppErrorType` or to one of the constructors of this data type. For example, documentation to `InternalError` says the following:

https://github.com/kowainik/issue-wanted/blob/d614fdfeb11c99f33a054c6854c4886ca4180d43/src/IW/App/Error.hs#L8

[2019-07-11 05:02] rashadg1030 commented on #110
@chshersh I think this is a good idea 💡 It is annoying to have that extra wrapper and I don’t think it’s necessary. In my opinion it’s not really helpful to distinguish between Internal and External errors. All the constructors should probably fall under just AppErrorType.

[2019-07-11 07:07] rashadg1030 commented on #116
I think this is good. Or a variation like `issue-wanted.io` might be cheaper.

[2019-07-11 07:22] chshersh commented on #116
The prices I saw:

`issue-wanted.com`: 8.88$ per year
`issue-wanted.dev`: 14.98$ per year
`issue-wanted.io`: 32.88$ per year

[2019-07-11 07:25] #107 closed

[2019-07-11 07:32] rashadg1030 commented on #116
Okay my vote goes to .com

[2019-07-11 08:32] rashadg1030 commented on #98
I'm gonna use the `updated_at` field to determine if the issue should be deleted. What should time limit between updates be? If the issue isn't updated in 14 days or so or less?

[2019-07-11 08:35] chshersh commented on #98
@rashadg1030 This issue is a bit more complicated. Open issues should never be deleted, no matter how old they are. _Old_ here means _is no longer open_. So you need to fetch all closed issues and delete all of them from our DB.

[2019-07-11 08:43] rashadg1030 commented on #98
@chshersh got it, make sense. Now how do I determine if an issue in the DB has closed or not? Do I just fetch all closed Haskell issues and delete the ones that match in the DB?

[2019-07-11 08:45] vrom911 opened #118 "Consider using named parameters in queries"
We can use [postgresql-simple-named](https://hackage.haskell.org/package/postgresql-simple-named) library for this.

[2019-07-11 08:45] chshersh commented on #98
Yep, exactly. This should work for now. But architecture behind this implementation is not that straightforward. If you will repeatably call `deleteClosedIssues` and `upsertIssues` in `forever` loop, DB won't like it...

[2019-07-11 08:47] rashadg1030 commented on #98
@chshersh Can you explain why ` forever` is bad in this situation? I'm curious.

[2019-07-11 09:46] #105 closed

[2019-07-11 10:17] chshersh commented on #98
Well, it's just bad in general for performance to do concurrently batch updates of different types and perform SELECT queries on a single time very fast. I'm not sure, but there's a chance that our sync can be very fast (like 5-20 minutes or even faster). Updating table with such frequency might be a high load for DB. But now I think that we don't need to do concurrent garbage collecting (this was

[2019-07-11 16:36] rashadg1030 commented on #98
@chshersh Sounds good

[2019-07-11 21:06] rashadg1030 commented on #118
@vrom911 This is really cool. I agree we should introduce this.

[2019-07-11 22:44] rashadg1030 commented on #104
Had some questions about writing the function that would solve this issue:
[code]
For `repoCategories` we have an empty array. I remember the idea of inserting the `repos` with an empty `categories` field and then populating the rows with categories after. Are we still doing that? We could construct the `repos` in the `MonadCabal` monad:

[code]
Is this fine??

[2019-07-12 04:08] chshersh commented on #104
@rashadg1030 Hard to tell without benchmarking and seeing how much time syncing the cache actually works. We're using `executeMany` to fetch to the database, so I expect this query to perform really fast even for a huge amount of data. However, if now you need to download a file for each `Repo` before inserting to the database, the performance of sync can decrease by a lot. Well, by _a lot_ is a v

[2019-07-12 17:22] rashadg1030 commented on #104
@chshersh If we do decide to populate the repo table with categories after inserting the repos, how would we do this? We would have to attach extra information to the categories in order to associate them with the correct repo, right? Or is there a better way?

[2019-07-12 19:48] rashadg1030 opened #120 "Add `repoDefaultBranch` field to `Repo` type"
We are downloading `cabal` files for repos. In order to get the correct `cabal` file, we need to know the default branch of the repo. We can get the default branch of the repo via the `github` library. We could call the `github` library each time we need the default branch (each time we download a `cabal` file), but we would go over the rate limit of the API. Instead, we could add a `repoDefaultBr

[2019-07-12 22:15] rashadg1030 commented on #118
I was trying to look for an example, but can this be used with `executeMany`?

[2019-07-13 04:55] chshersh commented on #104
@rashadg1030 After you fetch all repos, you have `[Repo]`. Given a `Repo` you can write a function:

[code]

All you need to do is to just call `mapM_ updateRepoCategories repos`. And if we want to update them concurrently, you just replace `mapM_` with `mapConcurrently`

[2019-07-13 05:01] chshersh commented on #120
@rashadg1030 It's nice that `Repo` data type has a default branch! But, as I said, this is not a priority. I don't expect there to be many repositories which have non-standard branches. So let's not spend time on this. In a perfect world, it would be nice to have some statistics about repos we can't fetch info about and the reasons why we can't do that so we can prioritise problems better. My init

[2019-07-13 05:03] chshersh commented on #118
@rashadg1030 We don't have `executeMany` implemented in `postgresql-simple-named` library... I've created an issue about that:

* https://github.com/Holmusk/postgresql-simple-named/issues/15

[2019-07-13 22:31] rashadg1030 opened #122 "Update README"
Fix endpoints and other minor cleanups.

[2019-07-13 23:21] rashadg1030 commented on #104
I'm using this algorithm:
1. `fetchAllHaskellRepos :: (... m) => m [GitHub.Repo]`
2. Map `fromGitHubRepo :: GitHub.Repo -> Repo` over the list from above.
3. Write `[Repo]` to DB.
4. Use `mapM_ updateRepoCategories repos` to update them.

[2019-07-14 20:58] rashadg1030 opened #124 "Decide on how we want to model filtering issues and repos"
By @chshersh:
Though, it's an open question, how do we want to model filtering. For example, when a user enters labels difficulty:easy and difficulty:medium does he want to have issues that have both labels easy and medium or any of the labels? In this case, probably the first. But what if here enters difficulty:easy and refactoring? Maybe now he wants to have these two labels. We can't read the u

[2019-07-15 02:00] #43 closed

[2019-07-15 02:00] #103 closed

[2019-07-15 02:00] #106 closed

[2019-07-15 03:42] #92 closed

[2019-07-15 05:20] chshersh opened #125 "Decide on sync scheduling strategy"
The current approach is to run github sync in a `forever` loop. However, we have 5000 GitHub API request limit which we might hit. So the question should we continue to do `forever` loop or should we launch sync only once per day? We can answer this question only when we see how much time it takes to sync all repos and issues.

[2019-07-15 17:19] rashadg1030 opened #126 "Implement function for fetching repos page by page"
1. The function should download repos page by page.
2. The function should be configurable, how many results per page and how many pages should work (so we can test it locally without downloading all 90K repos).
3. It should use some ordering so it will be more or less deterministic in terms of results.
4. Since we process all repos in chunks, you need to think how to combine all chunks into a sin

[2019-07-18 18:35] #104 closed

[2019-07-19 02:11] chshersh commented on #110
I think we reached consensus over this issue and this refactoring can be performed 🙂

[2019-07-19 02:15] chshersh commented on #118
I think that this issue is also unblocked. We can start using named parameters right now to avoid migration to this way later when there are more functions to refactor. So every SQL query that is not used under `executeMany` can be moved to use `queryNamed` or `executeNamed`. You can check `three-layer` to see how to perform this migration (it's not straightforward because you need to deal with `M

[2019-07-21 07:56] #118 closed

[2019-08-08 04:29] rashadg1030 commented on #102
@chshersh @vrom911 Actually maybe this is better left as `Maybe` to keep things simpler, we do have logging in case it is `Nothing`. Should we throw an error as well? If so, this will stop the program each time it is `Nothing` which happens a lot. I guess we can continue the program using `catchError` when an error is thrown.

[2019-08-08 08:03] rashadg1030 commented on #120
Now that I added the new field to the `Repo` type, I must update the SQL schema. Will do this tomorrow.

[2019-08-08 20:52] rashadg1030 commented on #45
@chshersh Now that everything is in place, I'm gonna implement the sync algorithm for issues and then clear this issue. There will be a single function that syncs both repos and issues.

[2019-08-08 21:42] rashadg1030 commented on #45
@chshersh
I'm gonna use the algorithm you mentioned above now:
[code]

[2019-08-13 10:28] chshersh commented on #102
@rashadg1030 Logging is fine. But I guess that if you use `Result` instead of `Maybe` you should be able to log a more meaningful message.

[2019-08-14 13:35] chshersh opened #133 "Handle API rate limit more gracefully when syncing"
For now, the error is thrown.

[2019-08-14 13:37] chshersh opened #134 "Think how to speed up syncing"
By @rashadg1030 calculations it takes ~6 hours to sync only all repos. And I can't even imagine how much time it will take to sync all issues as well... For testing purposes, we can have a configurable function that allows us to specify caching in a more flexible way. But we need some long-term strategy as well...

[2019-08-15 11:13] #126 closed

[2019-08-17 07:49] #110 closed

[2019-08-17 11:18] vrom911 commented on #111
Some updates on this. In order to build `issue-wanted` with `ghcjs` we would need to move back to `8.4` compiler version. It means no `DerivingVia` or any other newer extensions or features. But this is not that critical at the moment in the project.

Another problem is that `base-noprelude` is not compatible with `ghcjs`. See [this issue](https://github.com/haskell-hvr/base-noprelude/issues/4). S

[2019-08-18 08:13] rashadg1030 commented on #134
@chshersh Maybe we should only go back to like 2015 or something. That will save time. I think right now we sync repos going all the way back to 2011 or so. I doubt users will want to go that far back, but on the other hand, there are old repos that might be popular.

[2019-08-18 08:50] #99 closed

[2019-08-18 09:00] chshersh commented on #134
A repository can be created a long time ago, but it's still can be maintained. So we need all repositories eventually. We need 3-stage syncing for the proper implementation:

1. First initial fat sync that fetches **all** information. It's supposed to be launched only once when the application is started. But it would be good to implement it as a separate task if we want to perform total sync once

[2019-08-18 20:52] rashadg1030 commented on #114
@chshersh Should pagination be implemented for `repos` as well?

[2019-08-18 21:10] rashadg1030 commented on #114
@chshersh I added pagination for repos too

[2019-08-20 08:02] #9 closed

[2019-08-20 08:02] #114 closed

[2019-08-20 09:09] vrom911 opened #137 "Endpoint to get all labels"
This would be needed for the frontend to help users to discover labels and for the better searching experience.

[2019-08-20 09:12] vrom911 opened #138 "Endpoint to get all categories"

[2019-08-20 09:18] vrom911 opened #139 "Tables for labels and categories?"

[2019-08-20 09:51] vrom911 opened #141 "Add frontend check to CI"

[2019-08-20 19:34] rashadg1030 commented on #139
@vrom911 Yes good question. Originally we did have a table for labels and categories, but I think we decided we didn't need it and it complicated the database schema, so we removed it...I forgot the exact reason why. If you look at the code from earlier in the project you can see it. Should we add this back into the code?

[2019-08-20 19:36] rashadg1030 commented on #134
@chshersh Oooh that's interesting. I'd like to know how to implement an Admin dashboard-type thing.

[2019-08-20 19:58] #111 closed

[2019-08-21 07:59] #120 closed

[2019-08-21 22:55] rashadg1030 commented on #139
@chshersh @vrom911 Bump

[2019-08-22 20:00] rashadg1030 commented on #139
@chshersh Okay got it makes sense. Thank you for explaining. I'm ready to tackle this issue, but should we figure out how to optimize the syncing algorithm first?

[2019-08-22 20:03] rashadg1030 commented on #139
@chshersh @vrom911 So for GitHub labels are we just selecting a few labels that we think are useful or do we plan on fetching all the labels on GitHub? I'm assuming the former. In that case, which labels should we select?

[2019-08-22 20:13] rashadg1030 commented on #122
@vrom911 @chshersh  I have to update the README with a few things in order to submit his project for GSoC. I'm doing this soon.

[2019-08-22 20:28] chshersh commented on #139
@rashadg1030 Sure, let's finish with the sync first and think about proper caching. Not sure how it should be done, but probably one more step after syncing.

[2019-08-23 12:09] chshersh opened #144 "Bump up to lts-14.* resolver"
This allows to cleanup `stack.yaml` significantly. Update dependencies in the `issue-wanted.cabal` file accordingly if needed.

[2019-08-23 12:14] #141 closed

[2019-08-23 20:33] vrom911 opened #145 "Endpoint should return non-polymorphic data types"
Currently, it returns `WithId x`. It is not possible to work with this on the frontend. I propose that every response should have its own data type, like `IssuesResponse` which would not have any parameters.

This issue is the blocker for further frontend work at the moment.

[2019-08-23 20:41] rashadg1030 commented on #145
I will fix this. I’m on a flight right now, but I will get to this ASAP.

On Fri, Aug 23, 2019 at 1:33 PM Veronika Romashkina <
notifications@github.com> wrote:

[2019-08-23 20:47] vrom911 commented on #145
No rush! I'm going to sleep now anyway, and it's okay if we fix this later. Have a nice flight, and don't worry about it right now :slightly_smiling_face:

[2019-08-24 14:20] #102 closed

[2019-08-26 08:12] chshersh commented on #122
@rashadg1030 I guess you can also add links to your blog posts in a section like "Architecture description" or "Detailed description of the implementation". I think that it would be nice to have links to the relevant blog posts about this project in `README` as well.

[2019-08-26 09:58] rashadg1030 commented on #122
@chshersh Good idea 👍

[2019-08-26 13:24] #122 closed

[2019-09-13 14:09] sshine commented on #124
Would it make sense to group search terms, and for each group imply an operator, and between groups imply AND? For example, for difficulty it would be OR, and for search terms it would be either AND or some smart/fuzzy matching if the API allows it.

[2019-09-14 03:35] rashadg1030 commented on #124
@sshine  Thank you for your input. If I understood your comment correctly, you suggest that we support both AND and OR for queries. I agree that we support both as well.

[2019-09-19 11:18] chshersh opened #150 "Update docker info docs"
After #149 is merged, I need to do the following:

- [x] Update `Dockerfile` content (can't do this since the PR is from fork)
- [x] Write `docker build` instructions
- [x] Rearrange some things in README

[2019-09-19 17:35] #144 closed

[2019-09-20 05:51] #150 closed

[2019-09-28 22:52] Bhudjo opened #152 "Push docker image on docker hub"

[2019-09-29 06:57] chshersh commented on #152
@Bhudjo Could you, please, clarify your issue? Docker image from `Dockerfile` is already on docker hub:

* https://hub.docker.com/r/kowainik/haskell-ci

[2019-09-29 22:02] Bhudjo commented on #152
Uops, sorry I didn't found it before. :bowing_man:

[2019-09-29 22:02] #152 closed

[2019-11-30 15:06] #112 closed